<!DOCTYPE html>
<html lang="fr" ng-app="demoApp">
<head>
    <title>Game List</title>
    <link rel="stylesheet" href="css/style.css">
    <!--<script src="js/vendor/angular.min.js"></script>-->
    <!--<script src="js/vendor/angular.min.1.4.9.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.js"></script>
    <script src="js/gameList.js"></script>
</head>
<body>
    <header>
        <h1>Ma liste de jeux rien qu'à moi</h1>
    </header>
    <section id="game-list" ng-controller="gameCtrl">
        <form id="game-form">
            <input id="new-game" placeholder="Quel jeu voulez vous ajouter ?" ng-model="newGame.title" />
            <input id="new-game" placeholder="type plateforme ?" ng-model="newGame.type" />
            <button id="btn btn-add" ng-click="addGame">Add</button>
            <p>form = {{newGame.title}} ({{newGame.type}})</p>
        </form>
        <article ng-show="games.length" ng-cloak>
            <ul id="game-list">
                <li ng-repeat="game in games" ng-class="{completed: game.completed}">
                    <div class="view">
                        <input class="mark" type="checkbox" ng-model="game.completed" />
                        <span>{{game.title}} ({{game.type}})</span>
                        <i class="fa fa-times" ng-click="removeGame(game)"></i>
                    </div>
                </li>
            </ul>
            <input id="mark-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)" />
            <label class="btn btn-info" for="mark-all">Tout cocher</label>
            <button class="btn btn-danger" ng-click="clearCompletedGames()">Supprimer les jeux cochés</button>
        </article>
    </section>
</body>
</html>